[DEFAULT]
rabbit_userid = ##rabbit_userid##
rabbit_password = ##rabbit_password##
debug = True
verbose = True
host = ##host##
rabbit_hosts = ##rabbit_host##
core_plugin = neutron.plugins.ml2.plugin.Ml2Plugin
lock_path = $state_path/lock

[agent]
root_helper = sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf
