[DEFAULT]
host = ##host##
debug = True
verbose = True
rpc_backend = rabbit
use_syslog = False
state_path = /var/run/hybridcloud
rabbit_userid = ##rabbit_userid##
rabbit_password = ##rabbit_password##
rabbit_host = ##rabbit_host##
hyper_agent_vif_driver = ### vif driver implementation ###

[amqp1]
trace = true

[hyperagent]
translation_bridge = br-trans
network_interface = ##hypernode_interface##
network_cidr = ##hypernode_cidr##
default_gw = ##default_gw##
container_image = ### container image if applicable ###
