[DEFAULT]
host = ##host##
debug = True
rpc_backend = rabbit
use_syslog = False
state_path = /var/run/hybridcloud
rootwrap_config = /etc/hybridcloud/rootwrap.conf
hyper_agent_vif_driver = ##hyper_agent_vif_driver##
network_device_mtu = ##network_device_mtu##
network_device_mtu_overhead = ##network_device_mtu_overhead##

[oslo_messaging_rabbit]
rabbit_userid = ##rabbit_userid##
rabbit_password = ##rabbit_password##
rabbit_hosts = ##rabbit_hosts##

[hyperagent]
network_mngt_interface = ##network_mngt_interface##
network_data_interface = ##network_data_interface##
network_vms_interface = ##network_vms_interface##
container_image_uri = ##container_image_uri##
container_rootfs_uri = ##container_rootfs_uri##
user_data = ##user_data##
key_data = ##key_data##
eth0_cidr = ##eth0_ip##/##eth0_size##
eth1_cidr = ##eth1_ip##/##eth1_size##
eth2_cidr = ##eth2_ip##/##eth2_size##
