[DEFAULT]
host = ##host##
debug = True
verbose = True
rpc_backend = rabbit
use_syslog = False
state_path = /var/run/hybridcloud
rootwrap_config = /etc/hyperagent/rootwrap.conf
hyper_agent_vif_driver = ##hyper_agent_vif_driver##

[oslo_messaging_rabbit]
rabbit_userid = ##rabbit_userid##
rabbit_password = ##rabbit_password##
rabbit_hosts = ##rabbit_hosts##

[hyperagent]
network_mngt_interface = ##network_mngt_interface##
network_data_interface = ##network_data_interface##
network_vm_interface = ##network_vm_interface##
container_image_uri = ##container_image_uri##
container_rootfs_uri = ##container_rootfs_uri##
user_data = ##user_data##
key_data = ##key_data##
